In [90]:
%pip install pandas

Requirement already satisfied: pandas in /home/rizkyfauziilmi/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /home/rizkyfauziilmi/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/rizkyfauziilmi/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/rizkyfauziilmi/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/rizkyfauziilmi/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /home/rizkyfauziilmi/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

## Import Library
- `pandas`: library populer untuk manipulasi dan analisis data dalam Python.

In [91]:
import pandas as pd

## Load Dataset

Pada bagian ini, kita akan memuat dataset yang berisi informasi tentang depresi mahasiswa. Dataset ini berisi berbagai kolom yang mencakup informasi demografis, tekanan akademik, tekanan kerja, kepuasan studi, kepuasan kerja, durasi tidur, kebiasaan diet, dan lain-lain.

In [92]:
df = pd.read_csv('../data/Student Depression Dataset.csv')
df.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0

## Cek Missing Value

In [93]:
# periksa apakah ada missing value
df.isnull().sum()

id                                       0
Gender                                   0
Age                                      0
City                                     0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         3
Family History of Mental Illness         0
Depression                               0
dtype: int64

Kolom Financial Stress terdapat 3 data yang tidak memiliki nilai. Kita akan mengisi nilai tersebut dengan nilai rata-rata dari kolom tersebut.

In [94]:
# ubah Kolom Financial Stress ke float64 dan isi value ? dengan None
df['Financial Stress'] = pd.to_numeric(df['Financial Stress'], errors='coerce')

# kemudian isi missing value dengan mean
df['Financial Stress'] = df['Financial Stress'].fillna(df['Financial Stress'].mean())

df['Financial Stress'].isnull().sum()

0

## Cek Duplicate

In [95]:
# periksa apakah ada duplikat
df.duplicated().sum()

0

tidak ada duplicate

## Cek Data Lebih Lanjut

### Kolom Depression

In [96]:
df['Depression'].value_counts()

Depression
1    16336
0    11565
Name: count, dtype: int64

Kolom Depression masih berupa integer, ubah menjadi kategorikal.

In [97]:
# ubah kolom Depression menjadi Yes dan No
df['Depression'] = df['Depression'].replace({1: 'Yes', 0: 'No'})
df['Depression'].value_counts()

Depression
Yes    16336
No     11565
Name: count, dtype: int64

### Kolom CGPA

In [98]:
# cek apakah kolom cpga antara 0-10
df['CGPA'].describe()

count    27901.000000
mean         7.656104
std          1.470707
min          0.000000
25%          6.290000
50%          7.770000
75%          8.920000
max         10.000000
Name: CGPA, dtype: float64

### Kolom City

In [99]:
df['City'].value_counts()

City
Kalyan                1570
Srinagar              1372
Hyderabad             1340
Vasai-Virar           1290
Lucknow               1155
Thane                 1139
Ludhiana              1111
Agra                  1094
Surat                 1078
Kolkata               1066
Jaipur                1036
Patna                 1007
Visakhapatnam          969
Pune                   968
Ahmedabad              951
Bhopal                 934
Chennai                885
Meerut                 825
Rajkot                 816
Delhi                  768
Bangalore              767
Ghaziabad              745
Mumbai                 699
Vadodara               694
Varanasi               685
Nagpur                 651
Indore                 643
Kanpur                 609
Nashik                 547
Faridabad              461
Saanvi                   2
Bhavna                   2
City                     2
Harsha                   2
Kibara                   1
Nandini                  1
Nalini                   1
Mihir                    1
Nalyan                   1
M.Com                    1
ME                       1
Rashi                    1
Gaurav                   1
Reyansh                  1
Harsh                    1
Vaanya                   1
Mira                     1
Less than 5 Kalyan       1
3.0                      1
Less Delhi               1
M.Tech                   1
Khaziabad                1
Name: count, dtype: int64

Entri Salah Ketik (Typo dari Kota Valid)
- Nalyan → kemungkinan maksudnya **Kalyan**
- Khaziabad → kemungkinan maksudnya **Ghaziabad**

Bukan Nama Kota (Nama Orang / Gelar / Lainnya)
- Saanvi
- Bhavna
- Harsha
- Kibara
- Nandini
- Nalini
- Mihir
- M.Com
- ME
- Rashi
- Gaurav
- Reyansh
- Harsh
- Vaanya
- Mira
- Less than 5 Kalyan
- 3.0
- Less Delhi
- M.Tech

In [100]:
invalid_city = [
    'Less than 5 Kalyan', 
    '3.0', 
    'Less Delhi', 
    'City', 
    'M.Tech', 
    'M.Com', 
    'ME',     
    'Saanvi',
    'Bhavna',
    'Harsha',
    'Kibara',
    'Nandini',
    'Nalini',
    'Mihir',
    'Rashi',
    'Gaurav',
    'Reyansh',
    'Harsh',
    'Vaanya',
    'Mira'
]

# Ganti data tidak valid dengan 'Others'
df['City'] = df['City'].apply(lambda x: 'Others' if x in invalid_city else x)

# Ganti data yang salah ketik
df['City'] = df['City'].replace({'Nalyan': 'Kalyan', 'Khaziabad': 'Ghaziabad'})

df['City'].value_counts()

City
Kalyan           1571
Srinagar         1372
Hyderabad        1340
Vasai-Virar      1290
Lucknow          1155
Thane            1139
Ludhiana         1111
Agra             1094
Surat            1078
Kolkata          1066
Jaipur           1036
Patna            1007
Visakhapatnam     969
Pune              968
Ahmedabad         951
Bhopal            934
Chennai           885
Meerut            825
Rajkot            816
Delhi             768
Bangalore         767
Ghaziabad         746
Mumbai            699
Vadodara          694
Varanasi          685
Nagpur            651
Indore            643
Kanpur            609
Nashik            547
Faridabad         461
Others             24
Name: count, dtype: int64

### Kolom Degree

In [101]:
df['Degree'].value_counts()

Degree
Class 12    6080
B.Ed        1867
B.Com       1506
B.Arch      1478
BCA         1433
MSc         1190
B.Tech      1152
MCA         1044
M.Tech      1022
BHM          925
BSc          888
M.Ed         821
B.Pharm      810
M.Com        734
MBBS         696
BBA          696
LLB          671
BE           613
BA           600
M.Pharm      582
MD           572
MBA          562
MA           544
PhD          522
LLM          482
MHM          191
ME           185
Others        35
Name: count, dtype: int64

value 'Class 12' kurang merepresentasikan lulusan SMA, ubah menjadi 'High School'

In [102]:
# Ubah value 'Class 12' menjadi 'High School'
df['Degree'] = df['Degree'].replace('Class 12', 'High School')
df['Degree'].value_counts()

Degree
High School    6080
B.Ed           1867
B.Com          1506
B.Arch         1478
BCA            1433
MSc            1190
B.Tech         1152
MCA            1044
M.Tech         1022
BHM             925
BSc             888
M.Ed            821
B.Pharm         810
M.Com           734
MBBS            696
BBA             696
LLB             671
BE              613
BA              600
M.Pharm         582
MD              572
MBA             562
MA              544
PhD             522
LLM             482
MHM             191
ME              185
Others           35
Name: count, dtype: int64

### Menghapus Kolom yang Tidak Diperlukan

In [103]:
df['Profession'].value_counts()

Profession
Student                   27870
Architect                     8
Teacher                       6
Digital Marketer              3
Content Writer                2
Chef                          2
Doctor                        2
Pharmacist                    2
Civil Engineer                1
UX/UI Designer                1
Educational Consultant        1
Manager                       1
Lawyer                        1
Entrepreneur                  1
Name: count, dtype: int64

Dikarenakan ini data pelajar yang mengalami depresi, maka kolom 'Profession', 'Job Satisfaction', 'Work Pressure', tidak diperlukan Dan data bukan pelajar akan dihapus

**langkah yang akan dilakukan**
- menghapus data yang bukan seorang pelajar
- menghapus kolom yang tidak diperlukan (Profession, Job Satisfaction, Work Pressure)
- ubah nama kolom 'Work/Study Hours' menjadi 'Study Hours'

In [104]:
# Hapus data yang bukan seorang pelajar
df = df[df['Profession'] == 'Student']

# Hapus kolom yang tidak diperlukan
df = df.drop(columns=['Profession', 'Job Satisfaction', 'Work Pressure'])

# ubah nama kolom
df = df.rename(columns={'Work/Study Hours': 'Study Hours'})

df.head()

,id,Gender,Age,City,Academic Pressure,CGPA,Study Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,5.0,8.97,2.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,Yes
1,8,Female,24.0,Bangalore,2.0,5.90,5.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,No
2,26,Male,31.0,Srinagar,3.0,7.03,5.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,No
3,30,Female,28.0,Varanasi,3.0,5.59,2.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,Yes
4,32,Female,25.0,Jaipur,4.0,8.13,3.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,No

### Kolom yang Kurang Representatif
Berikut kolom yang kurang representatif:
- Financial Stress
- Study Satisfaction
- Academic Pressure

In [105]:
unrepresentative_column = ['Financial Stress', 'Study Satisfaction', 'Academic Pressure']
df[unrepresentative_column].describe()

       Financial Stress  Study Satisfaction  Academic Pressure
count      27870.000000        27870.000000       27870.000000
mean           3.139520            2.943559           3.140617
std            1.437211            1.361209           1.381640
min            1.000000            0.000000           0.000000
25%            2.000000            2.000000           2.000000
50%            3.000000            3.000000           3.000000
75%            4.000000            4.000000           4.000000
max            5.000000            5.000000           5.000000

Ubah menjadi data kategorikal

In [106]:
# fungsi untuk kategorisasi
def categorize(value, bins, labels):
    return pd.cut(value, bins=bins, labels=labels, include_lowest=True)

# Variabel bins dan labels untuk kategorisasi
bins = [0, 2, 3, 4, 5]
labels = ['Low', 'Moderate', 'High', 'Very High']

# kategorisasi kolom yang tidak representatif
for column in unrepresentative_column:
    df[column] = categorize(df[column], bins, labels)

# periksa hasil kategorisasi
df[unrepresentative_column].head()

  Financial Stress Study Satisfaction Academic Pressure
0              Low                Low         Very High
1              Low          Very High               Low
2              Low          Very High          Moderate
3        Very High                Low          Moderate
4              Low           Moderate              High

#### Ubah kolom tipe data menjadi sesuai

kolom yang perlu diubah menjadi tipe data kategorikal:
- Gender
- Sleep Duration
- Dietary Habits
- Have you ever had suicidal thoughts ?
- Family History of Mental Illness
- Depression

kolom yang perlu diubah menjadi tipe data integer:
- Age
- Study Hours

In [107]:
categorical_columns = [
    'Gender', 
    'Sleep Duration', 
    'Dietary Habits', 
    'Have you ever had suicidal thoughts ?', 
    'Family History of Mental Illness', 
    'Depression'
]

integer_columns = [
    'Age', 
    'Study Hours'
]

for column in categorical_columns:
    df[column] = df[column].astype('category')
    
for column in integer_columns:
    df[column] = df[column].astype('int64')
    
df.dtypes

id                                          int64
Gender                                   category
Age                                         int64
City                                       object
Academic Pressure                        category
CGPA                                      float64
Study Satisfaction                       category
Sleep Duration                           category
Dietary Habits                           category
Degree                                     object
Have you ever had suicidal thoughts ?    category
Study Hours                                 int64
Financial Stress                         category
Family History of Mental Illness         category
Depression                               category
dtype: object

#### Kesimpulan dari data yang sudah diolah

In [108]:
df.head()

,id,Gender,Age,City,Academic Pressure,CGPA,Study Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33,Visakhapatnam,Very High,8.97,Low,5-6 hours,Healthy,B.Pharm,Yes,3,Low,No,Yes
1,8,Female,24,Bangalore,Low,5.90,Very High,5-6 hours,Moderate,BSc,No,3,Low,Yes,No
2,26,Male,31,Srinagar,Moderate,7.03,Very High,Less than 5 hours,Healthy,BA,No,9,Low,Yes,No
3,30,Female,28,Varanasi,Moderate,5.59,Low,7-8 hours,Moderate,BCA,Yes,4,Very High,Yes,Yes
4,32,Female,25,Jaipur,High,8.13,Moderate,5-6 hours,Moderate,M.Tech,Yes,1,Low,No,No

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27870 entries, 0 to 27900
Data columns (total 15 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     27870 non-null  int64
 1   Gender                                 27870 non-null  category
 2   Age                                    27870 non-null  int64
 3   City                                   27870 non-null  object
 4   Academic Pressure                      27870 non-null  category
 5   CGPA                                   27870 non-null  float64
 6   Study Satisfaction                     27870 non-null  category
 7   Sleep Duration                         27870 non-null  category
 8   Dietary Habits                         27870 non-null  category
 9   Degree                                 27870 non-null  object
 10  Have you ever had suicidal thoughts ?  27870 non-null  category
 11  Study Hours                            27870 non-null  int64
 12  Financial Stress                       27870 non-null  category
 13  Family History of Mental Illness       27870 non-null  category
 14  Depression                             27870 non-null  category
dtypes: category(9), float64(1), int64(3), object(2)
memory usage: 1.7+ MB

Pada proses cleansing data, beberapa langkah telah dilakukan untuk memastikan data yang digunakan bersih dan siap untuk analisis lebih lanjut. Berikut adalah langkah-langkah yang telah dilakukan:

1. **Mengisi Missing Values**:
    - Kolom `Financial Stress` yang memiliki nilai missing diisi dengan nilai rata-rata dari kolom tersebut.

2. **Menghapus Data Duplikat**:
    - Tidak ditemukan data duplikat dalam dataset.

3. **Mengubah Tipe Data**:
    - Kolom `Depression` diubah dari integer menjadi kategorikal dengan nilai 'Yes' dan 'No'.
    - Kolom `Gender`, `Sleep Duration`, `Dietary Habits`, `Have you ever had suicidal thoughts ?`, `Family History of Mental Illness`, dan `Depression` diubah menjadi tipe data kategorikal.
    - Kolom `Age` dan `Study Hours` diubah menjadi tipe data integer.

4. **Membersihkan Data Tidak Valid**:
    - Kolom `City` yang memiliki nilai tidak valid seperti 'Less than 5 Kalyan', '3.0', 'Less Delhi', 'City', 'M.Tech', 'M.Com', dan 'ME' diubah menjadi 'Others'.
    - Kolom `Degree` yang memiliki nilai 'Class 12' diubah menjadi 'High School'.

5. **Menghapus Kolom yang Tidak Diperlukan**:
    - Kolom `Profession`, `Job Satisfaction`, dan `Work Pressure` dihapus karena tidak relevan dengan analisis depresi pada pelajar.
    - Data yang bukan seorang pelajar dihapus.
    - Nama kolom `Work/Study Hours` diubah menjadi `Study Hours`.

6. **Mengubah Kolom yang Kurang Representatif**:
    - Kolom `Financial Stress`, `Study Satisfaction`, dan `Academic Pressure` diubah menjadi data kategorikal dengan kategori 'Low', 'Moderate', 'High', dan 'Very High'.

Dengan langkah-langkah di atas, data telah dibersihkan dan siap untuk digunakan dalam analisis lebih lanjut.

In [110]:
# save data
df.to_csv('../data/Student Depression Dataset Cleaned.csv', index=False)